@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}
.sidebar{
    background-color: red;
    width: 20vw;
    font-family: 'Roboto', sans-serif;
}
.sidebar nav{
    padding: 42px;
}
.sidebar nav li{
    list-style: None;
    font-size: 30px;
    padding: 33px 0;
    
}

.main{
    background-color: yellow;
    width: 80vw;
}

.container{
    display: flex;
}
.infocontainer{
    background-color: rgb(219, 228, 32);
    width: 78vw;
    height: 80vh;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;


}
.devInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mypic img{
   
    height: 78vh;
}